# binaries
# 1. Ignore absolutely everything
*

# 2. Re-allow all directories so Git can scan into them
!*/

# 3. Re-allow any file that has an extension (contains a dot)
!*.*

# 4. (Optional) Explicitly re-allow extensionless source files you want to keep
!Makefile
!README

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# IntelliJ
.idea

# CMake build
build*
CMakeUserPresets.json

# Mac
.DS_Store

# LLVM
*.bc
*.ll

# gdb
.gdb_history

# Python
__pycache__

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij
.idea
*.iml

# Maven
target/

# Gradle
build/
.gradle/
gradle/
gradlew
gradlew.bat

# emacs
*~

# Swap
*.swp

